@import (reference) '../../../styles/var.less';

@header-logoHeight: 50px;
@header-lineHeight: 2.2em;
@header-fontSize: @fontSize-lg;
@header-borderBottom: 1px solid hsla(0, 0%, 100%, 0.15);
@navlink-padding-y: 0.5rem;
@navlink-padding-x: 1rem;

#wch-header {
  .bbox;
  .pfix;
  .dflex;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999999;
  height: @headerHeight;
  font-size: @header-fontSize;
  background-color: var(--header-bg-color);
  background-image: var(--header-bg-image);
  background-size: cover;
  background-position: center;
  border-bottom: @header-borderBottom;
  #wch-logo-link {
    .dinlbl;
    height: @header-logoHeight;
    margin: (@headerHeight - @header-logoHeight)/2 1vw
      (@headerHeight - @header-logoHeight)/2 @headerHeight+2px;
    #wch-logo {
      .dinlbl;
      height: @header-logoHeight;
    }
  }
  nav {
    .pabs;
    left: 0;
    top: 0;
    .dflex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: @headerHeight;
    height: @headerHeight;
    button#wch-burger {
      flex-shrink: 0;
      .dinlbl;
      .bbox;
      width: @headerHeight;
      height: @headerHeight;
      font-size: @fontSize-xl;
      background: transparent;
      border: 0 none;
    }
    ul {
      .dnone;
      .bbox;
      .vw100;
      flex-direction: column;
      align-items: flex-start;
      padding: 8px 8px 0;
      background-color: var(--header-bg-color);
      background-image: var(--header-bg-image);
      border-bottom: @header-borderBottom;
      li {
        .dbl;
        margin: 0 0 8px;
        width: 100%;
        a {
          width: 100%;
        }
      }
      &.wch-breakout-rooms {
        li {
          margin: 0;
          .wch-navlink {
            border-radius: 0;
            border-bottom-width: 0;
          }
          &:first-child {
            .wch-navlink {
              border-radius: 2px 2px 0 0;
            }
          }
          &:last-child {
            margin: 0 0 8px;
            .wch-navlink {
              border-radius: 0 0 2px 2px;
              border-bottom-width: 1px;
            }
          }
        }
      }
    }
    .wch-external-links.wch-navlink {
      padding: 0;
      border: 0;
      .wch-collapse-header.wch-navlink {
        .dnone;
      }
    }
    #wch-link-display {
      .dnone;
      background-color: var(--header-bg-color);
      background-image: var(--header-bg-image);
      border-bottom: @header-borderBottom;
    }
    &.wch-menu-open {
      ul {
        .dflex;
      }
      #wch-link-display {
        .dbl;
      }
    }
  }
  .wch-navlink {
    .prel;
    .bbox;
    .dinlbl;
    padding: @navlink-padding-y @navlink-padding-x;
    font-size: @header-fontSize;
    line-height: @header-lineHeight;
    color: var(--menu-link-color);
    border-radius: 2px;
    border: 1px solid transparent;
    background-color: transparent;
    &:hover,
    &:focus {
      color: var(--menu-link-color-active);
      cursor: pointer;
    }
    &.wch-active,
    &.wch-active:hover,
    &.wch-active:focus {
      color: var(--header-bg-color);
      background-color: var(--menu-link-color);
    }

    i {
      margin-left: @header-fontSize / 4;
      vertical-align: middle;
      font-size: 0.75em;
      line-height: 0;
    }

    &.wch-navlink-room {
      color: var(--room-color);
      background-color: rgba(0, 0, 0, 0.15);
      border-color: var(--room-color);
      i {
        margin-left: 0;
        margin-right: @header-fontSize / 4;
        vertical-align: middle;
        font-size: 1em;
        line-height: 0;
      }
      &.wch-active,
      &:hover,
      &:focus {
        color: var(--header-bg-color);
        background-color: var(--room-color);
      }
      .wch-navlink-room-label {
        .dinlbl;
        .pabs;
        bottom: @navlink-padding-y / 2;
        left: @navlink-padding-x + 2.3em;
        font-size: @fontSize-xs;
        line-height: 1em;
        opacity: 0.7;
      }
      &.wch-room-display {
        .dbl;
        background-color: transparent;
        border-color: transparent !important;
        font-size: 1.5em;
        &:hover,
        &:focus {
          color: inherit;
          background-color: transparent;
        }
        .wch-navlink-room-label {
          font-size: @fontSize;
          bottom: auto;
          left: 4.1rem;
          top: 0.5rem;
        }
      }
    }
  }
  a,
  button {
    .nobr;
    text-decoration: none;
    color: var(--menu-link-color);
    transition: background-color 200ms ease, color 200ms ease;
    &:hover,
    &:focus {
      color: var(--menu-link-color-active);
    }
  }
}

@media only screen and (min-width: @screen-md-min) {
  #wch-header {
    .dflex;
    justify-content: flex-start;
    align-items: center;
    #wch-logo-link {
      margin: (@headerHeight - @header-logoHeight)/2 1vw;
    }
    nav {
      .prel;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-grow: 1;
      width: auto;
      button#wch-burger {
        .dnone;
      }
      ul {
        .dflex;
        flex-direction: row;
        align-items: center;
        width: auto;
        height: @headerHeight;
        .p0;
        background-color: transparent;
        background-image: none;
        border: 0 none;
        li {
          margin: 0 1vw 0 0;
        }
        &.wch-breakout-rooms {
          li {
            margin: 0;
            .wch-navlink {
              border-bottom-width: 1px;
              border-right-width: 0;
            }
            &:first-child {
              .wch-navlink {
                border-radius: 2px 0 0 2px;
              }
            }
            &:last-child {
              margin: 0;
              .wch-navlink {
                border-radius: 0 2px 2px 0;
                border-right-width: 1px;
              }
            }
          }
        }
      }
      .wch-external-links.wch-navlink {
        overflow: hidden;
        .wch-collapse-header.wch-navlink {
          .dbl;
        }
        ul {
          .dnone;
          height: auto;
          background-color: var(--header-bg-color);
          border-radius: 2px;
        }
        &.wch-external-links-open {
          overflow: visible;
          ul {
            .dbl;
            .pabs;
          }
        }
      }
      #wch-link-display {
        .dbl;
        background-color: transparent;
        background-image: none;
        border: 0 none;
      }
    }
    .wch-navlink {
      &.wch-navlink-room {
        .wch-navlink-room-label {
          left: auto;
          right: @navlink-padding-x;
        }
      }
      &.wch-room-display.wch-navlink-room.wch-navlink {
        .dnone;
      }
    }
  }
}

@media only screen and (min-width: @screen-lg-min) {
  #wch-header {
    nav {
      .wch-external-links.wch-navlink {
        .dbl;
        .wch-collapse-header.wch-navlink {
          .dnone;
        }
        ul {
          .dflex;
          flex-direction: row;
          background-color: transparent;
          border-radius: 0;
        }
      }
    }
  }
}
