@screen-xl-min: 1600px;
@screen-lg-max: @screen-xl-min - 1;
@screen-lg-min: 1024px;
@screen-md-max: @screen-lg-min - 1;
@screen-md-min: 800px;
@screen-sm-max: @screen-md-min - 1;
@screen-sm-min: 560px;
@screen-xs-max: @screen-sm-min - 1;

@headerHeight: 60px;
@sidebarWidth: 20%;

@std-spacing-x: 2vw;
@std-spacing-y: 2vh;
@std-spacing: @std-spacing-y @std-spacing-x;

@border: 1px solid @clr-border;

.border(@side: bottom, @color: @clr-border) {
  border-@{side}: 1px solid @color;
}

@borderRadius: 2px;
@borderRadius-big: 12px;
