@import (reference) '../../../styles/var.less';

@linkDisplay-buttonSize: 28px;
@linkDisplay-linkHeight: 40px;

#wch-link-display {
  .prel;
  .bbox;
  padding: 8px;
  .m0;
  .vw100;

  & > button {
    .mp0;
    width: @linkDisplay-buttonSize;
    height: @linkDisplay-buttonSize;
    line-height: @linkDisplay-buttonSize;
    text-align: center;
    font-size: @fontSize;
    background-color: transparent;
    border: 1px solid var(--menu-link-color);
    color: var(--menu-link-color);
    border-radius: 50%;
    cursor: pointer;
    transition: inherit, border-color 200ms ease;
    &:active,
    &:focus,
    &:hover {
      color: var(--menu-link-color-active);
      border-color: var(--menu-link-color-active);
    }
  }
  > input {
    .dnone;
    .pabs;
    top: 2px;
    right: 0;
    width: 90vw;
    height: @linkDisplay-linkHeight;
    padding: 0 @std-spacing-x;
    font-size: 1.6rem;
    color: var(--main-color);
    background: var(--overlay-bg-color);
    border: 1px solid var(--menu-link-color);
    border-radius: @borderRadius-big;
    box-shadow: 0 3px 8px hsla(0, 0%, 0%, 0.3);
  }
  &.wch-display-link-open {
    > input {
      .dbl;
    }
  }
}

@media only screen and (min-width: @screen-md-min) {
  #wch-link-display {
    .dbl;
    margin: 0 1vw;
    width: auto;
    background-color: transparent;
    background-image: none;
    border: 0 none;
    > input {
      top: @linkDisplay-buttonSize + 6px;
    }
  }
}
