@import (reference) './styles/var.less';

:root {
  --header-height: @headerHeight;
  --header-bg-color: @clr-header-bg;
  --header-bg-image: 'none';
  --link-color: @clr-link;
  --link-color-active: @clr-link-active;
  --error-color: @clr-error;
  --success-colorr: @clr-success;
  --room-color: @clr-room;
  --room-color-active: @clr-room-active;
  --main-bg-color: @clr-main-bg;
  --main-color: @clr-text;
  --box-bg-color: @clr-box-bg;
  --overlay-bg-color: @clr-overlay-bg;
  --adbar-height: 70px;
  --std-spacing-x: 2vw;
  --std-spacing-y: 2vh;
  --std-spacing: @std-spacing-y @std-spacing-x;
  --font-weight: normal;
}
html,
body {
  .mp0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: sans-serif;
  font-size: 8px;
  font-weight: var(--font-weight);
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 0.6em;
  font-weight: var(--font-weight);
}
h1 {
  font-size: 3.4rem;
}
h2 {
  font-size: 2.7rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.6rem;
}
h5 {
  font-size: 1.3rem;
}

a {
  text-decoration: none;
  color: var(--link-color);
  &:active,
  &:hover,
  &:focus {
    color: var(--link-color-active);
  }
}

ul {
  .mp0;
  list-style-type: none;
  li {
    .m0;
  }
}

p {
  margin: 1em 0;
}

hr {
  border: 0 none;
  .border(top);
}

:disabled {
  opacity: 0.6;
}

main.wch-main {
  .prel;
  .vw100;
  .bbox;
  height: calc(100vh - var(--header-height) - var(--adbar-height));
  margin-top: var(--header-height);
  color: var(--main-color);
  font-size: @fontSize;
  background-color: var(--main-bg-color);
  overflow: auto;
  > .wch-main-header {
    padding: @std-spacing;
  }
}

.wch-registration-hidden {
  width: 0;
  height: 0;
  border: 0 none;
  z-index: -99999;
}

.wch-hidden {
  .dnone;
}

@media only screen and (min-width: @screen-sm-min) {
  :root {
    --adbar-height: 60px;
  }
}

@media only screen and (min-width: @screen-md-min) {
  :root {
    --font-weight: lighter;
  }
  html,
  body {
    font-size: 9px;
  }
}

@media only screen and (min-width: @screen-lg-min) {
  :root {
    --adbar-height: 70px;
  }
}

@media only screen and (min-width: @screen-xl-min) {
  html,
  body {
    font-size: 10px;
  }
}
